doctype html
html(lang="ko")
  head
    title SNS Service
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content
    script(src="/javascripts/main.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jwt-decode/2.2.0/jwt-decode.min.js")
