doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Users
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    h2 Users
    button(id="register-button") Register
    button(id="login-button") Login
    script.
      document.getElementById('register-button').addEventListener('click', () => {
        window.location.href = '/register';
      });

      document.getElementById('login-button').addEventListener('click', () => {
        window.location.href = '/login';
      });
